:host{
  display: grid;
  place-items: center;
  height: 50vh;
}

/*mis clases css*/
.container-row{
width: 95%;
}
.container-search{
  display: flex;
  flex-direction: column;

}
.btn-dialog{
 margin-bottom: 1rem;
}
/*css lista todo`s*/
.completada{
    text-decoration: line-through;
}
.mat-chip {
    font-size: 12px;
    font-weight: 500;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 14px;
    text-transform: uppercase;
}
.mat-expansion-panel-header-description {
  flex-grow: 0;
  /*display: flex;
  justify-content: space-between;*/
  align-items: center;
}
  .chips-Otros{
    background: #9E9E9E;
    color: #fff;
  }
  .chips-Iglesia{
    background: #9b59b6;
    color: #fff;
  }
  .chips-Trabajo{
    background: #f1c40f;
    color: #fff;
  }
  .chips-Casa{
    background: #34495e;
    color: #fff;
  }
  .chips-Familia{
    background: #1abc9c;
    color: #fff;
  }
  
  .button-flex-container{
  display: flex;
  justify-content: flex-end;
  grid-gap: 25px;
  }
  /*pagination*/
  .pagination{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pagination-info{
    font-size:10px
  }
  /*css lista todo`s*/
  @media only screen and (min-width: 1024px) {
    .container-row{
      width: 50%;
      }
  }