<section class="container-row">
  <h1>Mis TODO`s</h1>
      <div class="container-search">
        <h4>Buscar todo´s</h4>
        <mat-form-field>
          <input matInput type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="searchItem">
        </mat-form-field>
      </div>
      <button class="btn-dialog" mat-flat-button color="primary" (click)="addDialog()">Agregar</button>
      
      <!--validamos que se este usando el buscador-->
      <div *ngIf=" searchItem && (saveTodo | pipeFilter:searchItem).length === 0" class="no-results">
        No hay resultados
      </div>
      <mat-accordion>
        <mat-expansion-panel  *ngFor="let todo of (saveTodo | pipeFilter:searchItem)" >
          <mat-expansion-panel-header>
            <mat-panel-title [ngClass]="todo.completed ? 'completada' : 'pendiente' ">
                {{todo.name}}
            </mat-panel-title>
            <mat-panel-description><span class="mat-chip" [ngClass]="'chips-' + todo.category">{{todo.category}}</span> </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{todo.comments}} {{todo.id}}</p>
              <div class="button-flex-container">
                <button mat-icon-button>
                  <mat-icon (click)="editDialog(todo)">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteTodo(todo.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="pagination">
        <div class="pagination-button">
          <button mat-icon-button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
            <mat-icon>first_page</mat-icon>
          </button>
          <button mat-icon-button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
            <mat-icon>chevron_left</mat-icon>
          </button>
           <button mat-icon-button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">
            <mat-icon>chevron_right</mat-icon>
          </button>
          <button mat-icon-button (click)="goToPage(totalPages)" [disabled]="currentPage === totalPages">
            <mat-icon>last_page</mat-icon>
          </button>
        </div>
        <div class="pagination-info">
          <span class="page-info">{{ itemsPerPage }} elementos por página</span> / 
          <span class="page-info">Página {{ currentPage }} - {{ totalPages }}</span>
        </div>
      </div>
      
</section>
